.offers{
    width: 65%;
    height: 60vh;
    display:flex;
    margin:auto;
    padding: 0 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
}
 
@media(max-width: 1280px) {
    .offers {
        padding: 0px 80px;
        margin-bottom: 120px;
    }
}